.hero {
  padding: 2rem 0;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-kerning: none;
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 4.5rem;
    }
    @include media-breakpoint-up(xl) {
      max-width: 70%;
    }
    margin-top: 2rem;
    letter-spacing: -1px;
    text-wrap: balance;
    //animation-delay: 1.1s;
  }

  &-lead {
    color: $gray-200;
    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
    line-height: 1.5;
    margin-top: 2rem;
    animation-delay: 1.5s;
  }
}

.hero-page-down {
  position: absolute;
  bottom: 68px;
  animation-delay: 1.5s;
}

a.hero-page-down-arrow {
  width: 48px;
  display: block;
  animation: arrowDownBounce 3s ease-in-out infinite;

  svg {
    width: 100%;
    height: auto;
  }
}
