.menu > li {
  list-style: none;
  margin-right: 2rem;
  @include media-breakpoint-up(md) {
    margin-right: 2.875rem;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: $headings-font-family;
    font-weight: 500;
    transition: color ease 200ms;
    padding: 1rem .25rem;

    &:hover {
      color: $primary;
    }
  }
}
