.section-about {
  img {
    border-radius: 50%;
    max-width: 450px;
    width: 100%;
    margin: 0 0 0 auto;
    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }
    display: block;
  }
}
