.service {
  margin-bottom: 2.5rem;
  @include media-breakpoint-up('sm') {
    margin-bottom: 4.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.7;
    color: #727272;
  }

  svg {
    margin-bottom: 1.125rem;
  }
}

.services *:last-child .service {
  margin-bottom: 0;
}

.services a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  border-radius: .5rem;
  transition: all ease 500ms;
  position: relative;
}

.services > div {
  margin-bottom: 1.5rem;
}


