.service {
  margin-bottom: 2.5rem;
  @include media-breakpoint-up('sm') {
    margin-bottom: 4.5rem;
  }
  padding: 0 2rem 0 0;

  p {
    font-size: 1rem;
    line-height: 1.7;
  }

  svg {
    margin-bottom: 1.125rem;
  }
}

.services *:last-child .service {
  margin-bottom: 0;
}
