input, textarea {
  border: 1px solid #747474;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  border-radius: 3px;
  background-color: transparent;

  &:invalid, &.has-error {
    border-color: $error;
  }

  &:focus, &:active {
    outline-color: $primary;
  }
}

form label, form input, form textarea {
  width: 100%;
}

.form-label {
  margin-bottom: 0.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #000000;
  font-family: "Space Grotesk",sans-serif;
}

input[type=submit] {
  @extend .btn;
}

span.error {
  color: $error;
  font-size: .875rem;
}
