$font-family-base: 'DM Sans', sans-serif;
$headings-font-family: 'Space Grotesk', sans-serif;

$line-height-base: 1.77777777778;

$h2-font-size: 2rem;
$h3-font-size: 19px;
$h4-font-size: 1rem;

$headings-font-weight: 600;

$primary: #CB57FA;
$secondary: #3FFAA6;
$gray-100: #F2F2F0;
$gray-200: #949494;
$tertiary: #F2B705;
$error: #D70000;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1370px
) !default;


